server:
  port: 9191 # The new "Main Entrance" port

spring:
  application:
    name: API-Gateway
  cloud:
    gateway:
      routes:
        # IDENTITY SERVICE (OPEN TO EVERYONE - No Filter)
        - id: IDENTITY-SERVICE
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/auth/**
        # Route 1: Employee Service
        - id: EMPLOYEE-SERVICE
          uri: lb://EMPLOYEE-SERVICE  # "lb" stands for Load Balancer
          predicates:
            - Path=/employee/** # Matches requests starting with these paths
          filters:
            - AuthenticationFilter # <--- THIS ACTIVATES YOUR JAVA CODE
            - name: CircuitBreaker #This activates the Resilience 4j logic.
              args:
                name: EMPLOYEE-SERVICE-BREAKER
                fallbackUri: forward:/fallback/employee #This tells the Gateway,
                #"If the service fails, don't crash. Just go to this URL instead."

        # Route 2: Department Service
        - id: DEPARTMENT-SERVICE
          uri: lb://DEPARTMENT-SERVICE
          predicates:
            - Path=/departments/**


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

management:
  tracing:
    sampling:
      probability: 1.0  # Log 100% of requests

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"