*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}
#reset-button{
    background-color: burlywood;
    color: #980404;
    padding: 5px 10px;
    font-style: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #dbcfb0;
}
#container{
    height: 75vmin;
    width: 75vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3fcd5;
    border-radius: 10px;
    padding: 20px;  
}
.btn{
    height:10vmin;
    width:10vmin;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px;
    user-select: none;
    font-size: 5vmin;
}
#game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.heading{
    font-size: 30px;
    text-align: center;
    margin: 10%;
    color: #980404;
}
#status-message{
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: #980404;
}
.reset-button-hide{
    visibility: hidden;
}