<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- Bean definition with id 'dev' -->
    <bean id="dev" class="com.spring.SpringDemo.Dev" autowire="byType">
    	<!--  <property name="laptop" ref="laptop1"></property>-->
<!-- 		<constructor-arg ref="desktop1"></constructor-arg> 
 -->    </bean>
    
<!--     <bean id="dev2" class="com.spring.SpringDemo.Dev">

    </bean> -->
<!--     <bean id="comp" class="com.spring.SpringDemo.Laptop">

    </bean> -->
          <bean id="desktop1" class="com.spring.SpringDemo.Desktop">

    </bean>

</beans>
