    *{
        font-family:Arial;
        /* font-size: 15px; */
        box-sizing: border-box; /* This makes height calculations predictable */
    }
    body{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    button{
      background-color: rgb(30, 120, 75);
      color: white;
      padding: 12px 20px;
      margin: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      height: 40px;
    }

    button:hover{
        background-color: rgb(9, 60, 15);
    }
    .text-box{
        font-weight: 500;
        height: 40px;
        padding: 12px 20px;
        border-radius: 10px;
        border-width: 1px;
        flex-grow: 1;
        margin: 10px;
    }
    .chat-input-container{
        display: flex;
        /* align-items: stretch; Forces input and button to be the same height */
        margin: 60px;
    }
    .app-container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .chat-msg-user{
        display: flex;
        justify-content: right;
        align-items: start;
    }
    .chat-msg-robot{
        display: flex;
        justify-content: left;
        align-items: start;
    }
    .chat-text-msg{
        background-color: rgb(237, 236, 236);
        padding: 15px 20px;
        margin-right: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        max-width: 60%;
    }
    .img{
        width: 45px;
        margin-right: 5px;
    }
    .chat-msgs-container{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;/*scroll the chat msgs*/
        scrollbar-width: none; 
        /* invisible scrollbars */
        scroll-behavior:smooth;
        
    }